@model NomesdaHistoriaApp.Models.AvaliacaoViewModel


@{
    ViewBag.Title = "avaliar";
}


<div class="containerCards" id="tutor">
    <div class="card tutor">
        @Html.Action("MostraTutorAula", "Personagen", new { cod = Model.codAula })
    </div>
</div>



<div style="text-align:center;" id="divStartGame">
    <p></p>
    <button type="button" style="height:90px; width:200px; text-align:center" class="btn-info" onclick="startGame()"> Iniciar a Avaliação </button>
</div>

@*modal fade, muito fixe para apresentar as questoes... ou outras cenas*@
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >*@

<div class="modal-dialog" id="Tipo" style="width:55%;text-align:center" hidden="hidden">
    <div class="modal-content" id="PerguntaID">

        <h3 id="Pontos" style="text-align:left">Pontos: 0</h3>

        <h2 class="modal-title" id="Pergunta">There is the Question!</h2> 

        <div class="modal-body">
            @Html.RadioButton("resposta", "1", new { id = "Resposta1", style = "margin-right: 10px;", }) <span id="Hipotese1">Opcao 1</span><br />
            @Html.RadioButton("resposta", "2", new { id = "Resposta2", style = "margin-right: 10px;", }) <span id="Hipotese2">Opcao 2</span><br />
            @Html.RadioButton("resposta", "3", new { id = "Resposta3", style = "margin-right: 10px;", }) <span id="Hipotese3">Opcao 3</span><br />
            @Html.RadioButton("resposta", "4", new { id = "Resposta4", style = "margin-right: 10px;", }) <span id="Hipotese4">Opcao 4</span><br />
        </div>

        <button id="idConfirmar" type="button" class="btn-info" onclick="validaQuestion()"> Confirmar </button>
        <button id="idProxima" type="button" class="btn-info" onclick="getNextQuestion()"> Próxima </button>
        <button id="idFim" type="button" class="btn-info" onclick="enviaAvaliacao()"> Fim </button>
    </div>


</div>
@*</div>*@


<div id="endAvaliacao" hidden="hidden" style="text-align:center">

    <div><h1 id="ResultadoAv" style="text-align:center"></h1></div>

    <div>
        <div class="containerCards" id="tutorResultado" style="text-align:left"></div>
        <div style="display:inline-block" ;"text-align:center">
            @Html.ActionLink("Repetir Avaliação", "avaliar", "Avaliacao", new { username = Session["userID"], codAula = Model.codAula, codApr = Model.codApr, tipo = Model.tipo }, new { @class = "btn btn-default text-primary", @id = "Repetir Avaliacao", })<br />
            @Html.ActionLink("Repetir a Aula ", "../Aula/Index", new { titulo = Session["tituloAula"] }, new { @class = "btn btn-default text-primary" })<br />
            @Html.ActionLink("Voltar à Etapa", "Index", "Home", new { }, new { @class = "btn btn-default text-primary", @id = "Voltar à Etapa" })<br />
        </div>
    </div>
</div>





<script>

    $("#idFim").hide();
    document.getElementById("idProxima").disabled = true;
    var questionCount = 0;
    var attempts=0;
    var totalQuestions=5;
    var pontos = 0;

    //#note arrays em javascript
    var id0 =  @(Model.updateQuestion());
    var id1 =  @(Model.updateQuestion());
    var id2 =  @(Model.updateQuestion());
    var id3 =  @(Model.updateQuestion());
    var id4 =  @(Model.updateQuestion());
    var idCurrentQuestion;

    function atualizaId(){
        if(questionCount==0)
            idCurrentQuestion = id0;
        if(questionCount==1)
            idCurrentQuestion = id1;
        if(questionCount==2)
            idCurrentQuestion = id2;
        if(questionCount==3)
            idCurrentQuestion = id3;
        if(questionCount==4)
            idCurrentQuestion = id4;
    }

        function atualizaPontos(){
            debugger;
            document.getElementById("Pontos").innerHTML = "Pontos: "+pontos;
        }

        function startGame() {
            $('#carrega')[0].src="";
            getNextQuestion();
            $('#divStartGame').hide();
            $('#Tipo').show();
            $('#Pontos').show();
            $("#tutor").hide();
            
            
        }

        function questionEnd(){
            atualizaPontos();
            lockAll();

            if(questionCount == totalQuestions){
                $("#idProxima").hide();
                $("#idConfirmar").hide();
                $("#idFim").show();
                $("#tutor").hide();
            }

            document.getElementById("idConfirmar").disabled = true;
            document.getElementById("idProxima").disabled = false;
        }

        function getNextQuestion() {
            document.getElementById("idConfirmar").disabled = false;
            document.getElementById("idProxima").disabled = true;
            atualizaId();
            questionCount++;
            attempts=0;
            unlockAll();

            $.ajax({
                url: '@Url.Action("getQuestion", "Avaliacao")',
                data: { "idQuestion": idCurrentQuestion },
                type: 'GET',
                success: function (data) {
                    $('#Pergunta').text(data.pergunta);
                    $('#Hipotese1').text(data.opt1);
                    $('#Hipotese2').text(data.opt2);
                    $('#Hipotese3').text(data.opt3);
                    $('#Hipotese4').text(data.opt4);
                }
            });
        }

        function lockAll(){
            $("#Resposta1").attr( 'disabled', true);
            $("#Resposta2").attr( 'disabled', true);
            $("#Resposta3").attr( 'disabled', true);
            $("#Resposta4").attr( 'disabled', true);
        }

        function unlockAll(){
            $("#Resposta1").removeAttr( "disabled" );
            $("#Resposta2").removeAttr( "disabled" );
            $("#Resposta3").removeAttr( "disabled" );
            $("#Resposta4").removeAttr( "disabled" );
        }


        function enviaAvaliacao(){
            $.ajax({
                url: '@Url.Action("insereAvaliacao", "Avaliacao")',
                data: { username: "@(Model.username)", codAula: @(Model.codAula), codApr : @(Model.codApr), tipo: "@(Model.tipo)", pontos: pontos },
                type: 'GET',
                success: function (data) {

                    //#note fazer esta interação com o avatar (Falta o Audio)
                    if(data=="aprovado"){
                        document.getElementById("ResultadoAv").innerHTML = "Passaste à avaliação com "+pontos+" pontos... Parabéns!";
                        $.get( '@Url.Action("AvaliacaoPassed", "Personagen")', function(data) {
                            $('#tutorResultado').html(data);
                        });
                    }
                    if(data=="naoMelhoria"){
                        document.getElementById("ResultadoAv").innerHTML = "Passaste à avaliação com "+pontos+" pontos, mas não conseguiste melhorar a tua pontuação";
                        $('#tutorResultado').html(data);
                    }
                    if(data=="reprovado"){
                        document.getElementById("ResultadoAv").innerHTML = "Reprovaste à avaliação com "+pontos+" pontos... Tens que estar mais atento!";
                        $.get( '@Url.Action("AvaliacaoReproved", "Personagen")', function(data) {
                            $('#tutorResultado').html(data);
                        });
                    }

                    $('#endAvaliacao').show();
                    $('#Tipo').hide();
                }
            });
        }

        function validaQuestion() {
            attempts++;
            var userOpt = $('input[name=resposta]:checked').val();
            var resUser = $("#Hipotese"+userOpt).text();

            $.ajax({
                url: '@Url.Action("validaQuestion", "Avaliacao")',
                data: { idQuestion: idCurrentQuestion, resposta: resUser },
                type: 'GET',
                success: function (data) {
                    if(data=="true"){
                        pontos +=  parseInt(10 / attempts);
                        questionEnd();
                        //#note verde com CSS!
                    }
                    else{
                        if(attempts<3){
                            $("#Resposta"+userOpt).attr( 'checked', false);
                            $("#Resposta"+userOpt).attr( 'disabled', true);
                            //#note vermelho com CSS!
                        }
                        else{
                            questionEnd();
                            //#note qq coisa com CSS!
                        }
                    }

                }
            });
        }

</script>