@model NomesdaHistoriaApp.Models.PagPessoalViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWithBar.cshtml";
}


<h1 style="text-align:center;color:#280000 ;font-family:Georgia, 'Times New Roman', Times, serif">Página Pessoal do @Model.user.username</h1>

<div id="botaoConfig" style="text-align:center" >
    @Html.ActionLink("alterar configuração ", "../Home/Config", new { }, new { @class = "btn btn-default text-primary" })<br />
</div>

<div id="user" style="text-align:center">
    <p></p>
    <h2>@Model.user.pontos pontos</h2>
    <br />
    <br />
</div>


@if (Model.emConquista != null)
{
    <div class="container" style="text-align:center">
        <h2>Em conquista</h2>
        <img style="display:inline-block; " src="../@Model.emConquista.sprite">
        @if (Model.emConquistaAulas > 0)
        {
            <div id="emConquista" style="display:inline-block;vertical-align:bottom;"></div>
        }
    </div>


}

<hr />

@if (Model.conquistas != null)
{
    <div class="container" style="text-align:center">
        <h2>Conquistas</h2>
        @foreach (var item in Model.conquistas)
        {
            <img style="display:inline-block;margin:auto" src="../@item.sprite">
        }
    </div>
}
else
{
    <div style="text-align:center"><h2>Ainda não tens conquistas</h2></div>
}



<hr />

@*NOTA: COLOCAR IF's AQUI PARA NÃO GERAR, QUADO NAO TEM VALORES!!*@


<div id="estatisticas" class="container" style="text-align:center">
    <h2>Estatisticas de jogo</h2>
    <div id="aprovacoesTipo" style="display:inline-block;margin:auto"></div>
    <div id="sucessoImagem" style="display:inline-block;margin:auto"></div>
    <div id="sucessoVideo" style="display:inline-block;margin:auto"></div>
    <div id="sucessoAudio" style="display:inline-block;margin:auto"></div>
</div>




<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    if(@Model.user.videoAprovado<=1 && @Model.user.audioAprovado<=1 && @Model.user.imagemAprovado<=1 &&
        @Model.user.imagemVis<=1 && @Model.user.videoVis<=1 && @Model.user.audioVis<=1)
        document.getElementById("estatisticas").style.display = 'none';

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(aprovacoesTipo);
    google.setOnLoadCallback(sucessoImagem);
    google.setOnLoadCallback(sucessoVideo);
    google.setOnLoadCallback(sucessoAudio);
    google.setOnLoadCallback(emConquista);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function aprovacoesTipo() {
        if(@Model.user.videoAprovado<=1 && @Model.user.audioAprovado<=1 && @Model.user.imagemAprovado<=1){
            document.getElementById("aprovacoesTipo").style.display = 'none';
        }
        else{
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Videos', (@Model.user.videoAprovado)-1],
              ['Audio', (@Model.user.audioAprovado)-1],
              ['Imagem', (@Model.user.imagemAprovado)-1]
            ]);

            // Set chart options
            var options = {backgroundColor: 'transparent',
                'title':'Aprovações a cada tipo de aula',
                'width':480,
                'height':360};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('aprovacoesTipo'));
            chart.draw(data, options);
        }
    }

    function sucessoImagem() {
        if(@Model.user.imagemAprovado<=1 && @Model.user.imagemVis<=1)
            document.getElementById("sucessoImagem").style.display = 'none';
        else{
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Aprovado', (@Model.user.imagemAprovado)-1],
              ['Reprovado', (@Model.user.imagemVis)-(@Model.user.imagemAprovado)]
            ]);

            // Set chart options
            var options = {backgroundColor: 'transparent',
                'title':'Sucesso de Imagem',
                'width':480,
                'height':360};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('sucessoImagem'));
            chart.draw(data, options);
        }
    }

    function sucessoVideo() {

        if(@Model.user.videoVis<=1 && @Model.user.videoAprovado<=1)
            document.getElementById("sucessoVideo").style.display = 'none';
        else{
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Aprovado', (@Model.user.videoAprovado)-1],
              ['Reprovado', (@Model.user.videoVis)-(@Model.user.videoAprovado)]
            ]);

            // Set chart options
            var options = {backgroundColor: 'transparent',
                'title':'Sucesso de Video',
                'width':480,
                'height':360};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('sucessoVideo'));
            chart.draw(data, options);
        }
    }

    function sucessoAudio() {

        if(@Model.user.audioAprovado<=1 && @Model.user.audioAprovado<=1)
            document.getElementById("sucessoAudio").style.display = 'none';
        else{
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Aprovado', (@Model.user.audioAprovado)-1],
              ['Reprovado', (@Model.user.audioVis)-(@Model.user.audioAprovado)]
            ]);

            // Set chart options
            var options = {backgroundColor: 'transparent',
                'title':'Sucesso de Audio',
                'width':480,
                'height':360};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('sucessoAudio'));
            chart.draw(data, options);
        }
    }

    function emConquista() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Aprovações', (@Model.emConquistasAprovado)],
          ['Por Avaliar', (@Model.emConquistaAulas) - (@Model.emConquistasAprovado)]
        ]);

        // Set chart options
        var options = {backgroundColor: 'transparent',
            'title':'Aprovações a cada tipo de aula',
            'width':480,
            'height':360

        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('emConquista'));
        chart.draw(data, options);
    }

</script>



<style>
    .btn {
        background-color: transparent;
        font-size: large;
        color: black;
    }

     body {
        background-repeat: no-repeat;
        background: fixed;
    }
</style>
