@model NomesdaHistoriaApp.Models.Utilizadores

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Utilizadores</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.avatar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="radioButtonAvatar">
                <img src="~/Assets/sprites/dafh/Afonso_1.png">
                D. Afonso Henriques
                @Html.RadioButtonFor(model => model.avatar, "D. Afonso Henriques") 

            </div>
            <div class="radioButtonAvatar">
                <img src="~/Assets/sprites/ldc/camoes_1.png">
                Luís de Camões
                @Html.RadioButtonFor(model => model.avatar, "Luis de Camoes")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tema_Ambiente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="radioButtonTema">
                <img src="~/Assets/Backgrounds_ops/gmr.jpg" height="108" width="276">
                Guimarães
                @Html.RadioButtonFor(model => model.tema_Ambiente, "guimaraes")
            </div>
            <div class="radioButtonTema">
                <img src="~/Assets/Backgrounds_ops/25ABR74.jpg" height="105" width="168">
                25 de Abril
                @Html.RadioButtonFor(model => model.tema_Ambiente, "25 de Abril")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
