@model NomesdaHistoriaApp.Models.Apresentacoes




@if (Model.tipo == "video")
{
    <video controls>
        <source src="@Url.Action("PlayVideo",new {url = "~/"+Model.Multimedia.ElementAt(0).PATH})" type="video/mp4">
        <source src="@Url.Action("PlayVideo",new {url = "~/"+Model.Multimedia.ElementAt(0).PATH})" type="video/ogg">
        <source src="@Url.Action("PlayVideo",new {url = "~/"+Model.Multimedia.ElementAt(0).PATH})" type="video/mpeg">
        <source src="@Url.Action("PlayVideo",new {url = "~/"+Model.Multimedia.ElementAt(0).PATH})" type="video/3gpp">
        <source src="@Url.Action("PlayVideo",new {url = "~/"+Model.Multimedia.ElementAt(0).PATH})" type="video/webm">
    </video>


}

@if (Model.tipo == "audio") {



}

@if (Model.tipo == "imagem")
{
    <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">

        @{
            var arr = Html.Action("GetImages", new { multimedia = Model.Multimedia.ToList(), Apid = Model.cod });
            int i = 0;
            int size = arr.ToString().Split('+').Length - 1;

        }

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            @for (int k = 1; k < size; k++)
            {
                <li data-target="#myCarousel" data-slide-to="@k"></li>
            }
        </ol>

        <div class="carousel-inner" role="listbox">

           
            
            @foreach (String s in (arr.ToString()).Split('+'))
            {
                if (s != null && s != "")
                {
                    if (@i == 0)
                    {

                        <div class="item active">
                            <img src="@s.Split(';')[0]" alt="" height="300" width="500" />
                            <div class="carousel-text"> @s.Split(';')[1] </div>
                        </div>
                        i++;
                    }
                    else
                    {
                        <div class="item">
                            <img src="@s.Split(';')[0]" alt="" height="300" width="500" />
                            <div class="carousel-text"> @s.Split(';')[1] </div>
                        </div>
                    }
                }
            }

        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>


<script>
    var $myCarousel = $('#myCarousel');
    var $myCarouselControls = $myCarousel.find('.carousel-control');
    var $myCarouselControlsLeft = $myCarouselControls.filter('.left');
    var $myCarouselControlsRight = $myCarouselControls.filter('.right');
    var $myCarouselIndicators = $myCarousel.find('.carousel-indicators li');
    $myCarousel.carousel({
        interval:false
    });
    //$myCarousel.carousel('pause');
    $myCarouselControlsLeft.hide();
    var slideCount = $myCarouselIndicators.length;
    $myCarousel.on('slid.bs.carousel', function () {
        var index = $myCarouselIndicators.filter('.active').data('slide-to');
        if (index == 0) { // is first slide
            $myCarouselControlsRight.show();
            $myCarouselControlsLeft.hide();
        } else if (index == slideCount - 1) { // is last slide
            $myCarouselControlsLeft.show();
            $myCarouselControlsRight.hide();
     //       $myCarousel.carousel('pause');
        } else { // is not first or last slide
            $myCarouselControls.show();
        }
    })

</script>


}


<style>
    .carousel {
    width: 500px;
    height: 400px;    
    vertical-align : central;
    margin: 20px;

    }
    .carousel-control.left, .carousel-control.right {
        background-image : none;
    }

    .carousel-text {
        text-align: center;
        font-family : Rockwell;
        font-size : 18px;
    }
</style>